@font-face {
  font-family: Naturebeauty;
  src: url('../fonts/NatureBeautyPersonalUse-9Y2DK.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.body {
  color: #fff;
  background-color: #ddd;
  font-family: Naturebeauty, Arial, sans-serif;
}

.heading {
  color: #fff;
  text-align: center;
  overflow-wrap: break-word;
  flex-flow: column;
  width: auto;
  height: auto;
  margin-top: 40px;
  margin-bottom: 100px;
  font-family: Naturebeauty, Arial, sans-serif;
  font-size: 8em;
  font-weight: 400;
  line-height: 80%;
  display: flex;
  position: static;
  inset: 0% 0% auto;
}

.text-block {
  text-align: center;
  font-family: Naturebeauty, Arial, sans-serif;
  font-size: 500%;
  line-height: 100%;
}

.list {
  margin-top: 0;
  padding-top: 60px;
}

.div-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 60px;
  display: block;
}

.button {
  opacity: 1;
  pointer-events: auto;
  color: #fff;
  mix-blend-mode: normal;
  background-color: #000;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  font-family: Rubik Glitch, sans-serif;
  font-size: 1.5em;
  line-height: 2em;
}

.body-2 {
  background-color: #174722;
}

.image {
  text-align: left;
  display: block;
}

.div-block-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.nav-bar {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 60px;
}

.navbar-button {
  opacity: 1;
  outline-offset: 0px;
  color: #000;
  text-align: center;
  background-color: #ddd;
  border-radius: 1em;
  outline: 3px #fff;
  margin: 10px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: Exo, sans-serif;
  font-size: 1.25em;
  font-weight: 800;
  line-height: 2em;
}

.navbar-button.w--current {
  color: #000;
}

.navbar {
  background-color: #ccc;
  margin-bottom: 0;
  padding: 10px 60px 30px;
}

.container {
  aspect-ratio: auto;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  display: block;
  overflow: visible;
}

.icon {
  background-color: #fff;
}

.nav-menu {
  margin-left: 0;
  padding-top: 20px;
}

.image-2 {
  aspect-ratio: auto;
  width: 15em;
  height: auto;
  margin-right: 2em;
  padding-top: 10px;
  display: block;
  position: fixed;
  overflow: visible;
}

.blog-name {
  color: #000;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-family: Exo, sans-serif;
  font-size: 3em;
  line-height: 1em;
  display: inline-block;
}

.blog-name:hover {
  color: #6d6d6d;
}

.container-2 {
  max-width: none;
}

.text-span {
  overflow-wrap: break-word;
}

.text-block-2 {
  width: 10em;
}

.heading-2 {
  aspect-ratio: auto;
  color: #295c35;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  padding-top: 0;
  font-family: Naturebeauty, Arial, sans-serif;
  font-size: 4em;
  font-weight: 700;
  display: flex;
}

.div-block-3 {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.paragraph {
  color: #000;
  text-align: center;
  margin: 0 220px;
  padding-top: 20px;
  font-family: Exo, sans-serif;
  font-size: 2em;
}

.link, .link-2, .link-3 {
  color: #000;
}

.heading-3 {
  color: #000;
  text-align: center;
  margin-top: 60px;
  font-family: Naturebeauty, Arial, sans-serif;
  font-size: 3em;
}

.heading-4 {
  color: #000;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 3em;
}

.page-heading {
  color: #295c35;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 3em;
}

.paragraph-2 {
  color: #000;
  text-align: center;
  padding-top: 30px;
  font-family: Exo, sans-serif;
  font-size: 2em;
}

.dropdown-toggle {
  color: #fff;
  background-color: #000;
  font-family: Exo, sans-serif;
}

.button-2 {
  z-index: auto;
  float: none;
  clear: both;
  text-align: center;
  background-color: #000;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
  width: 8em;
  height: 5em;
  font-family: Exo, sans-serif;
  font-size: 4em;
  font-weight: 800;
  line-height: 5em;
  display: flex;
  position: relative;
  inset: auto 0% 0%;
}

.div-block-4 {
  text-align: center;
  margin-top: 0;
  padding-top: 60px;
}

.container-3 {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.property-card {
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: 18px 18px 45px #0000001a;
}

.property-image-wrap {
  height: 230px;
  overflow: hidden;
}

.property-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.property-content {
  border-bottom: 1px solid #0000001a;
  padding: 32px 24px;
}

.room-feature-grid {
  grid-column-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature {
  color: #000;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 17px;
  font-weight: 700;
  display: flex;
}

.feature.centre-lines {
  border-left: 1px solid #0000001a;
  border-right: 1px solid #0000001a;
}

.feature-icon {
  margin-right: 6px;
}

.heading-6 {
  font-family: Exo, sans-serif;
  font-weight: 800;
}

.filter-block {
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 48px;
  padding: 42px;
  box-shadow: 8px 80px 55px -50px #00000021;
}

.dropdown-toggle-2 {
  width: 100%;
  min-height: 52px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 30px;
}

.property-list {
  flex-wrap: wrap;
  display: flex;
}

.container-4 {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.checkbox-wrap {
  padding: 15px;
}

.text-block-3 {
  color: #ffac12;
}

.dropdown {
  background-color: #f6f6f6;
  border-radius: 50px;
  margin: 12px 0;
}

.grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.filter-form-block {
  margin-bottom: 0;
}

.title-wrap {
  margin-bottom: 60px;
}

.checkbox-filters {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  margin-top: 0;
  margin-right: 10px;
}

.checkbox-filters.w--redirected-checked {
  background-color: #f48f0b;
  background-size: 13px;
}

.title-line {
  background-color: #ffac12;
  background-image: none;
  border-radius: 20px;
  width: 100%;
  max-width: 170px;
  min-height: 4px;
  margin-bottom: 12px;
}

.filter-form {
  justify-content: flex-start;
  display: flex;
}

.clear-filters {
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  min-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.clear-filter {
  color: #f48f0b;
}

.clear-filter.jetboost-filter-none-ev8m {
  color: #f48f0b;
  padding-top: 2px;
  padding-bottom: 2px;
}

.collection-item {
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
  display: flex;
}

.dropdown-list {
  padding-top: 4px;
}

.dropdown-list.w--open {
  z-index: 99;
  background-color: #0000;
  min-width: 410px;
  padding-top: 15px;
  box-shadow: 0 35px 55px #00000014;
}

.checkbox-filter {
  white-space: nowrap;
  align-items: center;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
}

.dropdown-base {
  background-color: #fff;
  border-radius: 15px;
  overflow: auto;
}

@media screen and (max-width: 991px) {
  .collection-item {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 5em;
  }

  .container {
    width: auto;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .collection-item {
    width: 100%;
  }

  .dropdown-list.w--open {
    min-width: 250px;
  }

  .dropdown-base {
    max-height: 350px;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    box-sizing: content-box;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    aspect-ratio: auto;
    direction: ltr;
    text-align: center;
    letter-spacing: normal;
    text-transform: none;
    text-overflow: clip;
    white-space: normal;
    word-break: normal;
    overflow-wrap: normal;
    object-fit: contain;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 0;
    font-size: 3em;
    font-style: normal;
    font-weight: 400;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    display: flex;
    overflow: visible;
  }

  .button {
    font-size: 2em;
  }

  .navbar {
    margin-bottom: 0;
    padding: 0 10px;
  }

  .container {
    width: auto;
  }

  .menu-button {
    box-sizing: border-box;
    object-fit: fill;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    display: block;
    overflow: visible;
  }

  .blog-name {
    text-align: left;
    text-overflow: clip;
    justify-content: flex-start;
    align-items: center;
    font-size: 3em;
    display: flex;
  }

  .text-span {
    white-space: nowrap;
    word-break: normal;
    overflow-wrap: normal;
    font-size: .5em;
  }

  .heading-2 {
    font-size: 2em;
  }

  .feature.centre-lines {
    border: 1px #000;
  }

  .filter-block {
    padding: 20px;
  }

  .dropdown-toggle-2 {
    width: 100%;
  }

  .dropdown {
    margin-bottom: 0;
    margin-left: 0;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .filter-form {
    flex-flow: column wrap-reverse;
    justify-content: flex-start;
    display: flex;
  }

  .dropdown-list.w--open {
    width: 100%;
    min-width: auto;
    padding-top: 10px;
  }
}


@font-face {
  font-family: 'Naturebeauty';
  src: url('../fonts/NatureBeautyPersonalUse-9Y2DK.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}